<h1 class='text-center'>Your wish is my command!</h1>


  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
      <div class="card jump_card" >
      <%= image_tag('packages1.jpg', class:'card-img-top')%>
        <div class="card-body">
          <h5 class="card-title">Package 1</h5>
          <ul>
            <li>Washed and vacuumed</li>
          </ul>
          <a href="#" class="btn btn-primary btn-block">Order now!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
      <div class="card jump_card">
    <%= image_tag('packages2.jpg', class:'card-img-top')%>
    <div class="card-body">
      <h5 class="card-title">Package 2</h5>
      <ul>
        <li>Washed and vacuumed</li>
        <li>Express wax</li>
      </ul>
      <a href="#" class="btn btn-primary btn-block">Order now!</a>
    </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
      <div class="card jump_card">
    <%= image_tag('packages3.jpg', class:'card-img-top')%>
    <div class="card-body">
      <h5 class="card-title">Package 3</h5>
      <ul>
        <li>Washed and vacuumed</li>
        <li>Polished and waxed</li>
      </ul>
      <a href="#" class="btn btn-primary btn-block">Order now!</a>
    </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
      <div class="card jump_card">
    <%= image_tag('packages4.jpg', class:'card-img-top')%>
    <div class="card-body">
      <h5 class="card-title">Package 4</h5>
      <ul>
        <li>Washed and vacuumed</li>
        <li>Express wax</li>
        <li>Seating wash and dry</li>
      </ul>
      <a href="#" class="btn btn-primary btn-block">Order now!</a>
    </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
      <div class="card jump_card">
    <%= image_tag('packages5.jpg', class:'card-img-top')%>
    <div class="card-body">
      <h5 class="card-title">Package pro</h5>
      <ul>
        <li>Washed and vacuumed</li>
        <li>Polished and waxed</li>
        <li>Seating wash and dry</li>
      </ul>
      <a href="#" class="btn btn-primary btn-block">Order now!</a>
    </div>
      </div>
    </div>
  </div>
